<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Reset</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <% if(errorMessage) {%>
            <div class="user-message user-message--error error-op"><%= errorMessage%></div>
            <%}%>
            <form class="login-form" action="/reset" method="POST">
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input type="email" name="email" id="email">
                </div>
                <button class="btn" type="submit">Reset Password</button>
            </form>
         
         
          <div class="hr"></div>
          
        </div>
        
      </div>
    </div>
  </div>
  <%- include('../includes/footer.ejs') %>