<img src="/src/Screenshot 2023-11-03 203648.png" alt="" />

<footer>

  <div class="row primary">
    <div class="column about">
      <h3>Car</h3><span>X</span>
      <p>
        CarX Technologies is a Russia-based graphic feature tool provider for games. It has developed "CarX", a physics-based graphics tool for the racing games. Also develops multiple mobile games such as "CarX Highway Racing", "CarX Drift Racing Lite", and "CarX Drift Racing" for Android and iOS platforms.
      </p>
    </div>
    <div class="column links">
      <h3>Contact with us</h3>
      <ul>
        <li>
          <a href="#faq">Feedback</a>
        </li>
        <li>
          <a href="#cookies-policy">Contact us</a>
        </li>
        <li>
          <a href="#careers">Advertise with Us</a>
        </li>
        <li>
          <a href="#terms-of-services">Terms Of Service</a>
        </li>
        <li>
          <a href="#support">Support</a>
        </li>
      
      </ul>
    </div>
    <div class="column subscribe">
      <h3>CARX GROUP VENTURES</h3>
      <div>
        <img src="https://stimg.cardekho.com/pwa/img/footer-IdLogo.svg" alt="">
      </div>
      <div >
       <img src="https://stimg.cardekho.com/pwa/img/footer-rupyyLogo.svg" alt="">
      </div>
      <div>
        <img src="https://stimg.cardekho.com/pwa/img/footer-zwLogo.svg" alt="">
      </div>
      
    </div>
  </div>
  <div class="row copyright">
    <p>Copyright &copy; 2023 Pawan devops | All Rights Reserved</p>
  </div>
</footer>