@import url("https://fonts.googleapis.com/css2?family=Bayon&family=Lato:wght@100&family=Oswald:wght@500&family=Rubik:wght@500&family=Teko:wght@500&family=Ysabeau+SC:wght@200;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bayon&family=Exo+2:wght@500;600&family=Fresca&family=Lato:wght@100&family=Ledger&family=Open+Sans:wght@300;500&family=Oswald:wght@500&family=Roboto+Condensed:wght@200&family=Rubik:wght@500&family=Teko:wght@500&family=Work+Sans:ital,wght@1,500&family=Ysabeau+SC:wght@200;700&display=swap");
body {
  background-color: #bbd7ef;
  width: 100vw;
}

.order {
  text-align: center;
}
.order-main {
  margin-bottom: 48px;
}
.order-car-displayed {
  display: flex;
}
.order-card {
  max-width: 697px;
  margin-right: 24px;
}
.order-row {
  display: flex;
}
.order-p2 {
  font-size: 18px;
}
.order-body {
  text-align: justify;
  margin-left: 23px;
  margin-right: 19px;
}
.order-p {
  font-size: 27px;
}

@media screen and (max-width: 500px) {
  .order-car-displayed {
    flex-wrap: wrap;
  }
}

.logo-Brand1 {
  display: flex;
}
.c-0 {
  margin-top: 10px;
}
.btn-on {
  background: #fff;
  border: 1px solid #e53012;
  border-radius: 2px;
  color: #e53012;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  letter-spacing: 0;
  line-height: 36px;
  overflow: hidden;
  padding: 0 5px;
  text-align: center;
  text-overflow: ellipsis;
  transition: all 0.4s ease;
  white-space: nowrap;
  width: 92%;
  margin-left: 12px;
  cursor: pointer;
}
.Find_Car {
  color: white;
  font-size: 29px;
  font-weight: 500;
}
.c-8 {
  width: 21vw;
  padding: 4px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 1vw;
  max-height: 23rem;
  min-width: 18rem;
}
.find-Car-p {
  text-align: center;
  color: #febd69;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
}
#popular {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  margin-left: 1rem;
}
#viewmore {
  display: flex;
  justify-content: center;
  font-size: large;
  color: #0288d1;
  padding-bottom: 9px;
}
.c-5 {
  margin: 4px 0.8rem 1rem 1rem;
}
.c-5 img {
  width: 12vw;
  height: 16vh;
}
#Brand {
  background-color: #bbd7ef;
  width: 90vw;
  height: 56vh;
  margin: 0px auto;
}
.middle {
  display: flex;
  justify-content: center;
  height: 15rem;
  width: 100vw;
}
.center-image1 {
  margin-top: 3em;
  font-size: 1em;
}

.logo-Brand1 img {
  max-height: 15rem;
  min-width: 8rem;
}

.py-24 {
  padding-top: 0rem;
  padding-bottom: 6rem;
}
.leading-relaxed {
  font-family: "Open Sans", sans-serif;
}
.middle img {
  width: 76vw;
  height: 17rem;
  margin-bottom: 39px;
}
.bgpicture {
  width: 100vw;
  height: 23em;
}
.s-b:hover {
  opacity: 0.8;
}
.s-b:hover {
  opacity: 0.8;
}
.brand-displayed {
  width: 100vw;
}
.backto {
  padding-left: 50%;
  background-color: rgb(15, 14, 14);
  color: white;
  font-family: "Open Sans", sans-serif;
}
.text-gray-600 {
  width: 100vw;
}
.second {
  width: 100vw;
}
.s-b {
  width: 12%;
  display: block;
  margin-bottom: 3.2vh;
  border-radius: 33px;
  background-color: #388e3c;
}
.s-b a {
  font-size: 1.3vw;
  font-family: "Rubik", sans-serif;
}

.sb-button {
  padding-top: 10%;
  padding-left: 14vw;
}
.basic {
  min-width: 19rem;
  max-height: 19rem;
  border: 1px solid white;
  border-radius: 9px;
}
.r-4 {
  margin-top: 4rem;
}
#err {
  height: 3rem;
}
.p-r {
  height: 3rem;
}
.p-r-5 {
  color: #388e3c;
}
#text-t {
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .middle img {
    width: 93vw;
  }
  .sb-button {
    display: none;
  }
  .bgpicture {
    height: 70vh;
  }
}
@media screen and (max-width: 970px) {
  #Brand {
    width: 100vw;
  }
  .c-5 img {
    width: 13vw;
    height: 14vh;
  }
}

@media screen and (max-width: 600px) {
  .c-5 img {
    width: 11vw;
    height: 30vh;
  }
  #Brand {
    height: 23vh;
  }
  .brand-displayed {
    margin-bottom: 285px;
  }
  .main-step h5 {
    /* font-size: 2rem !important; */
    color: #371e66;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    display: flex;
    font-size: 19px;
    text-align: center;
    font-weight: 700;
    justify-content: center;
  }
  .step-heading {
    font-weight: 700;
    font-size: 2.4rem;
    color: #371e66;
    text-align: center;
    line-height: 3.2rem;
  }
  .down {
    padding-top: 0px;
  }

  .middle img {
    width: 86vw;
    height: 10rem;
  }
  .toggle-btn {
    right: 3vw;
  }
  .log {
    padding: 0px;
  }
  .icon-p {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }

  #lo {
    margin-left: 9rem;
  }

  .image-logo {
    margin-right: 75vw;
  }
  .mx-auto {
    padding-bottom: 2rem;
    padding-left: 0.7rem;
  }
  #viewmore {
    font-size: 1rem;
  }
  .bgpicture {
    height: 53vh;
  }
  .crousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .m--7 {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
}

/* 
@media screen and (max-width:500px) {
  
} */
@media screen and (max-width: 400px) {
  .c-5 img {
    width: 10vw;
    height: 12vh;
  }
  .Find_Car {
    font-size: 20px;
  }
  .middle {
    height: 11rem;
  }
  .brand-displayed {
    margin-bottom: 125px;
  }
  .middle img {
    height: 7rem;
    width: 83vw;
  }
  .c-5 {
    margin: -10px 0.6rem 0.9rem 0.8rem;
  }
  .bgpicture {
    height: 12vh;
  }
}
