.footer-items
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  background: #232f3e;
}
.citys{
  padding-top: 12px;
}
.footer-items ul
{
  list-style: none;
  margin-bottom: 20px;
}
.footer-items h3
{
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin: 20px 0 10px 0;
}
@media (min-width: 1200px) {
  .h3, h3
{
    font-size: 1.75rem;
  }
}
.footer-items ul
{
  list-style: none;
}
.footer-items li a
{
  color: #ddd;
  font-size: 0.875rem;
}
.maharana-logo
{
  background-color: #232f3e;
  text-align: center;
}
.maharana-logo img
{
  margin-top: 13px;
  margin-bottom: 14px;
}
.cityname
{
  background-color: #232f3e;
}
.cityname ul
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 87px;
  justify-content: center;
  margin-top: 0px;
  font-weight: 500;
  margin-right: 101px;
}
.cityname ul li
{
  margin: 0px 5px;
  text-decoration: none;
  list-style: none;
}
ul li a
{
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
ul li a
{
  text-decoration: none;
}
.citys
{
  display: flex;
  margin-top: -16px;
  padding-bottom: 19px;
  flex-direction: row;
  justify-content: center;
  background-color: #232f3e;
}
.citys li
{
  margin: 0px 5px;
  text-decoration: none;
  list-style: none;
  padding-top: 12px;
  justify-content: center;
}
ul li a
{
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
ul li a
{
  text-decoration: none;
}
.citys li
{
  margin: 0px 5px;
  text-decoration: none;
  list-style: none;
  padding-top: 12px;
  justify-content: center;
}
.copyright h6{
  text-align: center;
}