<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs') %>
        <div class="about-main" data-aos="zoom-in-left">
            <div class="image">
                <img src="https://imgd.aeplcdn.com/0x0/cw/static/about-us/about-us-banner-d.jpg" alt="about-us"
                    class="about-banner">
            </div>
            <div class="container">
                <div class="about-us-our-group" data-aos="zoom-in-down">
                    <h3>About Us / <span><a href="/">Home</a></span></h3>
                    <p>Car-X.com is India's leading car search venture that helps users buy cars that are right for
                        them.
                        Its website and app carry rich automotive content such as expert reviews, detailed specs and
                        prices,
                        comparisons as well as videos and pictures of all car brands and models available in India. The
                        company has tie-ups with many auto manufacturers, more than 4000 car dealers and numerous
                        financial
                        institutions to facilitate the purchase of vehicles.

                        Car-X.com has launched many innovative features to ensure that users get an immersive experience
                        of the car model before visiting a dealer showroom. These include a Feel The Car tool that gives
                        360-degree interior/exterior views with sounds of the car and explanations of features with
                        videos;
                        search and comparison by make, model, price, features; and live offers and promotions in all
                        cities.
                        The platform also has used car classifieds wherein users can upload their cars for sale, and
                        find
                        used cars for buying from individuals and used car dealers.</p>
                </div>
                <div class="Investors about-us-our-group" data-aos="zoom-in-down">
                    <h3>Investors and shareholders</h3>
                    <p>Car-X.com, which went live in 2008, was set up by a bunch of young, enthusiastic IIT graduates.
                        Its
                        investors include Google Capital, Tybourne Capital, Hillhouse Capital, Sequoia Capital, HDFC
                        Bank,
                        Ratan Tata and Times Internet.</p>
                </div>
                <div class="culture about-us-our-group" data-aos="zoom-in-right">
                    <h3>Our Culture</h3>
                    <p>Over the years, we at Car-X have striven to create a fair, engaging and people friendly
                        workplace. We
                        are always on the look-out for people who believe in putting the customer first while constantly
                        adapting to the changing world and pursuing excellence. Sounds like you?</p>
                    <div class=" row-cols-1 row-cols-md-3 g-4 row-side" data-aos="zoom-in-left">
                        <div class="col-md-3">
                            <div class="card h-100">
                                <img src="https://imgd.aeplcdn.com/0x0/cw/static/about-us/cw-image-04.jpg"
                                    class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card h-100">
                                <img src="https://imgd.aeplcdn.com/0x0/cw/static/about-us/cw-image-03.jpg"
                                    class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card h-100">
                                <img src="https://imgd.aeplcdn.com/0x0/cw/static/about-us/cw-image-05.jpg"
                                    class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card h-100">
                                <img src="https://imgd.aeplcdn.com/0x0/cw/static/about-us/cw-image-05.jpg"
                                    class="card-img-top" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="scale about-us-our-group" data-aos="zoom-in-down">
                        <h3>Our Group’s Scale</h3>
                        <div class="row" style="       display: flex;
                        justify-content: center;
                        flex-wrap: wrap;">
                            <div class="col-md-5 background1">
                                <div class="scale select">
                                    <div class="img-select">
                                        <img src="https://imgd.aeplcdn.com/0x0/cw/static/about-us/icon-27-million.svg"
                                            alt="">
                                    </div>
                                    <div class="scale-essay">
                                        <div class="scale-inner">
                                            <div class="scalemillion">
                                                <h4>34.2 M</h4>
                                            </div>
                                            <div class="monthly-unique">
                                                h6Monthly Unique Visitors
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 background1">
                                <div class="scale select">
                                    <div class="img-select">
                                        <img src="https://imgd.aeplcdn.com/0x0/cw/static/about-us/icon-1250-cities.svg?20210531"
                                            alt="">
                                    </div>
                                    <div class="scale-essay">
                                        <div class="scale-inner">
                                            <div class="scalemillion">
                                                <h4>
                                                    10,00,000+</h4>
                                            </div>
                                            <div class="monthly-unique">
                                                Vehicles Listed
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../includes/footer.ejs') %>