<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<main class="bgpicture">
    <div class="sb-button">
      <button class="s-b" ><a href="/admin/add-product">SELL CAR</a></button>
      <button class="s-b" ><a href=" /products">BOOK CAR</a></button>
    </div>
  </main>

  
    <!-- main section for the display of the advertisement for the website  -->
   
<section id="firstOne">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">CarX innovation carries </h1>
              <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">A car, or an automobile, is a motor vehicle with wheels. Most definitions of cars state that they run primarily on roads, seat one to eight people, have four wheels, and mainly transport people, not cargo.We leverage real-time sensor data and machine learning algorithms to provide vehicle insights to businesses, insurance, and automotive companies. Our Mission.<p>
          </div>
          <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4 m--7">
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Ferrari/Purosangue/9317/1663156716477/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"> <a href="/products">Ferrari Purosangue</a></h2>
                    <p class="mt-1">Rs5 Cr Estimated Price</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Ferrari/SF90-Stradale/7858/1591619661237/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Ferrari SF90 Stradale</a>Ferrari SF90 Stradale</h2>
                    <p class="mt-1">Rs.7.50 Cr*Get On Road Price</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Rolls-Royce/Ghost/8051/1601280317407/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Rolls-Royce Ghost</a></h2>
                    <p class="mt-1">Rs.6.95 - 7.95 Cr*Get On Road Price</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Bentley/Continental/7771/1676965640042/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Bentley Continental</a></h2>
                    <p class="mt-1">Rs.5.23 - 8.45 Cr*Get On Road Price</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Lamborghini/Urus/10636/1690010693541/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Lamborghini Urus</a></h2>
                    <p class="mt-1">Rs.4.18 - 4.22 Cr*Get On Road Price</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Land-Rover/Range-Rover/9018/1676541159356/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Land Rover Range Rover</a></h2>
                    <p class="mt-1">Rs.2.39 - 4.17 Cr*Get On Road Price</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/BMW/XM/10570/1689672872537/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">BMW XM</a></h2>
                    <p class="mt-1">Rs.2.60 Cr Get On Road Price</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Toyota/Land-Cruiser/8448/1623313668941/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Toyota Land Cruiser 300</a></h2>
                    <p class="mt-1">Rs.2.10 Cr Get On Road Price</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto flex flex-wrap">
              <div class="flex flex-wrap -m-4">
                <div class="p-4 lg:w-1/2 md:w-full">
                  <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                    <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                      
                    </div>
                    <div class="flex-grow">
                      <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Maruti Suzuki Dzire AMT : Still Worthy?</h2>
                      <p class="leading-relaxed text-base">he Maruti Dzire ticks almost all the right boxes for it to be your family’s next compact sedan and it’ll do so without emptying your pockets.So in this road test, let’s take a look at some things that are still working for the compact sedan and a few things that are in need of an update now.</p>
                      <a class="mt-3 text-indigo-500 inline-flex items-center" href="https://www.cardekho.com/road-test/maruti-suzuki-dzire-amt-still-worthy-857.htm#:~:text=Yeah%2C%20it%20does%20miss%20out,should%20definitely%20consider%20the%20Dzire.">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                          <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="p-4 lg:w-1/2 md:w-full">
                  <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                    <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                      
                    </div>
                    <div class="flex-grow">
                      <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                        Mahindra Thar vs Mahindra XUV300: Not What You Think Comparison</h2>
                      <p class="leading-relaxed text-base">The all-new Thar has been thoroughly impressive, both on and off tarmac. However, so far, it has only been compared to its predecessor. We pitch it against its urban sibling to see if it's any good for a family in the city.</p>
                      <a class="mt-3 text-indigo-500 inline-flex items-center" href="https://www.cardekho.com/compare/mahindra-thar-and-mahindra-xuv300.htm">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                          <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/653ca720f195c.jpg" alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BRAND</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Mercedes-Benz EQE 500: First Drive Review</h2>
                <p class="leading-relaxed text-base">Mercedes’ EQE blends luxury, tech and instant performance in one practical package
                </p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/652bb626b93cc.jpg" alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BRAND</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Tata Safari Facelift 2023 Review: Small Changes, Big Difference!</h2>
                <p class="leading-relaxed text-base">The Tata Safari is a well-known brand in the SUV market.  </p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/652d165d43936.jpg" alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BRAND</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Hyundai Exter: Long-term Fleet Introduction</h2>
                <p class="leading-relaxed text-base">It has good looks, a city-friendly size, and a comfortable ride.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/652a2bda01e46.jpg" alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
                  2023 Tata Harrier Review First Drive Review</h2>
                <p class="leading-relaxed text-base">Tata Harrier is a 5 seater SUV car in a price range of Rs. 15.49 Lakh to 26.44 Lakh in India.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="middle">
          <img src="https://miro.medium.com/v2/resize:fit:820/1*JJj_0W6rlZEre4hsv2Abjg.jpeg" alt="">
        </div>

    <!-- cards for the dislayed -->
            
<div class="center-image1">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4 crousel">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Citroen/C3-Aircross/11235/1696569309285/front-left-side-47.jpg?tr=w-456">
          </a>
          <div class="mt-4">
            <h2 class="text-gray-900 title-font text-lg font-medium">Citroen C3 Aircross</h2>
            <p class="mt-1">Rs8.69 - 12.04 Lakh*</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Nexon-EV-2023/11024/1694146347051/front-left-side-47.jpg?tr=w-456">
          </a>
          <div class="mt-4">
           
            <h2 class="text-gray-900 title-font text-lg font-medium">Tata Nexon EV</h2>
            <p class="mt-1">Rs14.74 - 19.94 Lakh*</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Mahindra/Thar/10745/1697697308167/front-left-side-47.jpg?tr=w-456">
          </a>
          <div class="mt-4">
           
            <h2 class="text-gray-900 title-font text-lg font-medium">Mahindra Thar</h2>
            <p class="mt-1">Rs.10.98 - 16.94 Lakh*</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Harrier/9368/1697532960290/front-left-side-47.jpg?tr=w-456">
          </a>
          <div class="mt-4">
       
            <h2 class="text-gray-900 title-font text-lg font-medium">Tata Harrier</h2>
            <p class="mt-1">Rs.15.49 - 26.44 Lakh</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Punch/10681/1691392713058/front-left-side-47.jpg?tr=w-456">
          </a>
          <div class="mt-4">
           
            <h2 class="text-gray-900 title-font text-lg font-medium">Tata Punch</h2>
            <p class="mt-1">Rs.6 - 10.10 Lakh</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Altroz/10707/1690032362798/front-left-side-47.jpg?tr=w-456">
          </a>
          <div class="mt-4">
           
            <h2 class="text-gray-900 title-font text-lg font-medium">Tata Altroz</h2>
            <p class="mt-1">Rs.6.60 - 10.74 Lakh</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Swift/10406/1697698080681/front-left-side-47.jpg?tr=w-456">
          </a>
          <div class="mt-4">
           
            <h2 class="text-gray-900 title-font text-lg font-medium">Maruti Swift</h2>
            <p class="mt-1">Rs.5.99 - 9.03 Lakh</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Jeep/Compass/10938/Jeep-Compass-2.0-Sport/1698294314076/front-left-side-47.jpg?tr=w-456">
          </a>
          <div class="mt-4">
        
            <h2 class="text-gray-900 title-font text-lg font-medium">Jeep Compass</h2>
            <p class="mt-1">Rs.20.49 - 32.07 Lakh</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
</section>
</div>
<div class="second">
  <img src="https://stimg.cardekho.com/images/uploadimages/1698327302079/2nd_card.png" alt="">
</div>

<div class="brand-displayed">
  <div class="card" id="Brand">
    <div class="card-body">
      <h5 class="card-title" id="popular">Popular Brands</h5>
      <div>
      <div class="images logo-Brand1 icon-p ">
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/mg.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/tata.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/kia.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/toyota.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/skoda.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/honda.jpg" alt="" >
          </div>
        </div>
        
      
      </div>
      <div class="images logo-Brand1 icon-p">
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/renault.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/mahindra.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/volkswagen.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/bmw.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/citroen.jpg" alt="" >
          </div>
        </div>
        <div class="card mb-3 c-5">
          <div class="card-body">
            <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/nissan.jpg" alt="" >
          </div>
        </div>
      </div>
    </div>
      <hr>
      <p id="viewmore"><a href="/products">View More</a></p>
    </div>
  </div>
</div>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto r-4">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 p-r-5">WHAT WE  <span style="color: #4363ff;">DO</span></h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">With a focus on connected car applications for businesses, CarX provides powerful telematics and data services for insurance companies, fleets and auto manufacturers. CarX is a connected-car platform connecting cars to the cloud. CarX was formed in 2015 with a mission to provide real-time connected technologies to vehicles.We leverage real-time sensor data and machine learning algorithms to provide vehicle insights to businesses, insurance, and automotive companies.</p>
    </div>
    <div class="flex flex-wrap -m-4 text-center" id="text-t">
      <div class="p-4 md:w-1/4 sm:w-1/2 " id="p-r">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg"  id="counting">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24" id="err">
            <path d="M8 17l4 4 4-4m-4-5v9"></path>
            <path d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
          <p class="leading-relaxed">Sellers</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 ">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg p-r" id="counting" >
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block p-r" viewBox="0 0 24 24">
            <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">4 B</h2>
          <p class="leading-relaxed">customer</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 ">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg"  id="counting">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path d="M3 18v-6a9 9 0 0118 0v6"></path>
            <path d="M21 19a2 2 0 01-2 2h-1a2 2 0 01-2-2v-3a2 2 0 012-2h3zM3 19a2 2 0 002 2h1a2 2 0 002-2v-3a2 2 0 00-2-2H3z"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">1 M</h2>
          <p class="leading-relaxed">Users</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 ">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg"  id="counting">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">46</h2>
          <p class="leading-relaxed">Places</p>
        </div>
      </div>
    </div>
  </div>
</section>
      
<div class="backto">
  <a  class="footer-title "> Back to top </a>
</div>

<footer>
  
  <div class="row primary">
    <div class="column about">
      <h3>Car</h3><span>X</span>
      <p>
        CarX Technologies is a Russia-based graphic feature tool provider for games. It has developed "CarX", a physics-based graphics tool for the racing games. Also develops multiple mobile games such as "CarX Highway Racing", "CarX Drift Racing Lite", and "CarX Drift Racing" for Android and iOS platforms.
      </p>
    </div>
    <div class="column links">
      <h3>Contact with us</h3>
      <ul>
        <li>
          <a href="#faq">Feedback</a>
        </li>
        <li>
          <a href="#cookies-policy">Contact us</a>
        </li>
        <li>
          <a href="#careers">Advertise with Us</a>
        </li>
        <li>
          <a href="#terms-of-services">Terms Of Service</a>
        </li>
        <li>
          <a href="#support">Support</a>
        </li>
      
      </ul>
    </div>
    <div class="column subscribe">
      <h3>CARX GROUP VENTURES</h3>
      <div>
        <img src="https://stimg.cardekho.com/pwa/img/footer-IdLogo.svg" alt="">
      </div>
      <div >
       <img src="https://stimg.cardekho.com/pwa/img/footer-rupyyLogo.svg" alt="">
      </div>
      <div>
        <img src="https://stimg.cardekho.com/pwa/img/footer-zwLogo.svg" alt="">
      </div>
      
    </div>
  </div>
  <div class="row copyright">
    <p>Copyright &copy; 2021 Coding Artist | All Rights Reserved</p>
  </div>
</footer>
